<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appanders>
        <Console>
            <PatternLayout pattern="[%d] [%-5level] [%t] [%c] %msg%n"/>
        </Console>

        <File name="CacheFile" filename="toyota-main-rate-api/logs/cache.log" append="true">
            <PatternLayout pattern="[%d] [%-5level] [%t] [%c] %msg%n"/>
        </File>
    </Appanders>
</Configuration>