### IntelliJ IDEA ###
out/
!**/src/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Mac OS ###
.DS_Store

### Intellij idea ###
.idea

### TCP-Platform.iml
TCP-Platform.iml

### .jar file ###
TCPServer.jar

### META-INF ###
META-INF